
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" href="/admin/assets/node_modules/html5-editor/bootstrap-wysihtml5.css" />
<%+endSection%>
               <%+section('content')%>
               <%if(error == 1){%>
                <script> swal("Error", "Ada Kesalahan Saat Menginput Data !", "error")</script>
            <%}else if(error == 2){%>
                <script> swal("Success", "Berhasil Menginput Data !", "success")</script>
                <%}%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

              
                    <form action="" method="POST" class="m-t-40" novalidate>
               

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Profile</h4>
                               
                                  
                                   
                                        
                                    <div class="form-group">
                                        <textarea name="deskripsi" class="textarea_editor1 form-control" rows="15" placeholder="Enter text ..."><%= data.deskripsi%></textarea>
                                    </div>
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
<script src="/admin/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
<script src="/admin/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script>
<script>
$(document).ready(function() {

    $('.textarea_editor').wysihtml5();
    $('.textarea_editor1').wysihtml5();


});
</script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
