
<%+ extend('layout/layout') %>
<%+ section('css')%>

<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">

                    </div>
                
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Siswa</h4>
                                <form action="" method="POST" class="m-t-40" novalidate>
                                    <div class="form-group">
                                        <h5>Nama Lengkap siswa <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" value="<%= data.nama%>" name="nama" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                            <h5>TTl Siswa <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input  value="<%= data.ttl%>" type="text" name="ttl" placeholder="contoh : Makassar/21-12-1997" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                        
                                        <input type="hidden" name="id" value="1">
                                 
                                        <div class="form-group">
                                                <h5>Email <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input  value="<%= data.email%>" type="email" name="email" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            </div>
                                    <div class="form-group">
                                        <h5>Password Input Field <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="password" name="password" class="form-control" required data-validation-required-message="This field is required"> </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Repeat Password Input Field <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="password" name="password2" data-validation-match-match="password" class="form-control" required> </div>
                                    </div>
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Orang Tua Siswa</h4>
                                    <form action="" method="POST" class="m-t-40" novalidate>
                                        <div class="form-group">
                                            <h5>Nama Lengkap Orangtua <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input  value="<%= data.nama_ortu%>" type="text" name="nama_ortu" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                     
                                        
                                            <input type="hidden" name="id" value="2">
                                            <div class="form-group">
                                                    <h5>Email <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input  value="<%= data.email_ortu%>" type="email" name="email_ortu" class="form-control" required data-validation-required-message="This field is required"> </div>
                                                </div>
                                        <div class="form-group">
                                            <h5>Password Input Field <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="password" name="password_ortu" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        </div>
                                        <div class="form-group">
                                            <h5>Repeat Password Input Field <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="password" name="password2" data-validation-match-match="password_ortu" class="form-control" required> </div>
                                        </div>
                                       
                                        <div class="text-xs-right">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-inverse">Cancel</button>
                                        </div>
                                   </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
