
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link href="/admin/assets/node_modules/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<link href="/admin/assets/node_modules/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="/admin/assets/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<link href="/admin/assets/node_modules/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Page plugins css -->
    <link href="/admin/assets/node_modules/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- Color p/adminker plugins css -->
    <link href="/admin/assets/node_modules/jquery-asColorPicker-master/dist/css/asColorPicker.css" rel="stylesheet">
    <!-- Date pi/adminer plugins css -->
    <link href="/admin/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Dateran/admin picker plugins css -->
    <link href="/admin/assets/node_modules/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="/admin/assets/node_modules/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tambah Tahun Ajaran</h4>
                                <form action="" method="POST" class="m-t-40" novalidate>
                                        <div class="form-group">
                                                <h5>Hari <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select name="id_hari" id="select" required class="form-control">
                                                        <option value="">Pilih hari</option>
                                                       <%result[0].forEach(function(item){%>
                                                        <option value="<%= item.id%>"><%= item.nama_hari%></option>
                                                       <%})%>
                                                    </select>
                                                </div>
                                            </div>     
                                            <div class="form-group">
                                                    <h5>Mapel <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <select name="id_mapel"  id="select" required class="form-control id_mapel">
                                                            <option value="">Pilih Mapel</option>
                                                           <%result[1].forEach(function(item){%>
                                                            <option value="<%= item.id%>"><%= item.nama_mapel%></option>
                                                           <%})%>
                                                        </select>
                                                    </div>
                                                </div>     
                                                <div class="form-group">
                                                        <h5>Guru <span class="text-danger">*</span></h5>
                                                        <div class="controls">
                                                            <select name="id_guru" id="select" required class="form-control id_guru">
                                                                <option value="">Pilih Guru</option>
                                                               
                                                            </select>
                                                        </div>
                                                    </div>     
                                    <div class="form-group">
                                            <div class="col-md-6">
                                                    <label class="m-t-20">Jam Mulai</label>
                                                    <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                                            <input type="text" name="jam_mulai" class="form-control" value="09:40">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                            </div>
                                                        </div>
                                                    <label class="m-t-40">Jam Selesai</label>
                                                    <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                                                        <input type="text" name="jam_selesai" class="form-control" value="13:14">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                  
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
<script src="/admin/assets/node_modules/moment/moment.js"></script>
<script src="/admin/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<!-- Clock Pl/adminin JavaScript -->
<script src="/admin/assets/node_modules/clockpicker/dist/jquery-clockpicker.min.js"></script>

<script>
     
        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        }).find('input').change(function() {
            console.log(this.value);
        });
        $('#check-minutes').click(function(e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show').clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
        // Colorpicker
        $('.id_mapel').change(function() {
            let id = this.value
            $('.id_guruku').remove();
            
            
                $.ajax({
                type: "POST",
                url: "/users/select.guru",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : id
                },
                success: function (result) {
                    if (result) {
                     result.forEach(element => {
                        $('.id_guru').append(` <option class="id_guruku" value="${element.id}">${element.nama}</option>`)
                     });
                      
                    } else {
                        alert('Belum Ada Guru')
                    }
                }
            })
            
        })
        
        
        </script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
