
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link href="/admin/assets/node_modules/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="/admin/assets/node_modules/switchery/dist/switchery.min.css" rel="stylesheet" />
<link href="/admin/assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<link href="/admin/assets/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
<link href="/admin/assets/node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
<link href="/admin/assets/node_modules/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
               
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Update Semester</h4>
                                <form action="" method="POST" class="m-t-40" novalidate>
                                        <h4 class="box-title">Secondary color</h4>
                                        <p class="text-muted font-13"> You can apply <code> data-color="@color" data-secondary-color="@color"</code> to your input element to both color. </p>
                                        <div class="m-b-30">
                                           <%if(result[0].status == 1){%>
                                            <label for="c">Ganjil</label>
                                           <input type="checkbox" id="pilih"  class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" />
                                           <label for="c">Genap</label>
                                            <%} else if(result[1].status == 1){%>
                                                <label for="c">Ganjil</label>
                                           <input type="checkbox" id="pilih" checked class="js-switch" data-color="#26c6da" data-secondary-color="#f62d51" />
                                           <label for="c">Genap</label>
                                                <%}%>
                                           </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
<script src="/admin/assets/node_modules/switchery/dist/switchery.min.js"></script>





<script>
    $(function () {
        // Switchery
        var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
        $('.js-switch').each(function () {
            new Switchery($(this)[0], $(this).data());
        });

        let pilih = $('#pilih')

        pilih.on('change', function() {
            if ($(this).is(':checked')) {
                $.ajax({
                type: "POST",
                url: "/users/update.semester",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : 2
                },
                success: function (result) {
                    if (result) {
                      
                        swal("Success", "Sekarang Semester Genap !", "success")
                      
                    } else {
                        alert('gagal')
                    }
                }
            })
                
            } else {
                $.ajax({
                type: "POST",
                url: "/users/update.semester",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : 1
                },
                success: function (result) {
                    if (result) {
                      
                        swal("Success", "Sekarang Semester Ganjil !", "success")
                      
                    } else {
                        alert('gagal')
                    }
                }
            })
                
            }
        })

      
    });
</script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
