
<%+ extend('layout/layout') %>
<%+ section('css')%>

<%+endSection%>
               <%+section('content')%>
              
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Struktur</h4>
                                <form action="" method="POST" class="m-t-40"  novalidate>
                                    <div class="form-group">
                                        <h5>Nama Lengkap<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input value="<%= data.nama%>" type="text" name="nama" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-afeedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                            <h5>Jabatan <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <select name="id_struktur" id="select" required class="form-control">
                                                    <option value="">Pilih Jabatan</option>
                                                   <%result.forEach(function(item){if(item.id == data.id_struktur){%>
                                                    <option selected value="<%= item.id%>"><%= item.posisi%></option>
                                                    <%}else{%>
                                                    
                                                    <option value="<%= item.id%>"><%= item.posisi%></option>
                                                   <%}})%>
                                                </select>
                                            </div>
                                        </div>     
                                        <div class="form-group">
                                            <h5>Periode<span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input value="<%= data.periode%>" type="text" placeholder="Contoh: 2015-2017" name="periode" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                   
                                           
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
