
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" href="/admin/assets/node_modules/html5-editor/bootstrap-wysihtml5.css" />
<%+endSection%>
               <%+section('content')%>
               <%if(error == 1){%>
                <script> swal("Error", "Ada Kesalahan Saat Menginput Data !", "error")</script>
            <%}else if(error == 2){%>
                <script> swal("Success", "Berhasil Menginput Data !", "success")</script>
                <%}%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->

                <%if(data.length == 0){%>
                    <form action="" method="POST" class="m-t-40" novalidate>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">VISI</h4>
                               
                                  
                                   
                                        
                                    <div class="form-group">
                                        <textarea name="visi" class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
                                    </div>
                              
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">MISI</h4>
                               
                                  
                                   
                                        
                                    <div class="form-group">
                                        <textarea name="misi" class="textarea_editor1 form-control" rows="15" placeholder="Enter text ..."></textarea>
                                    </div>
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
                <%}else {%>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Table Responsive </h4>
                                    <h6 class="card-subtitle">Data table example</h6>
                                    <div class="table-responsive m-t-40">
                                        <table id="config-table" class="table display table-bordered table-striped no-wrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Visi & Misi</th>
                                                    <th>Action</th>
                                                    
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var no = 1; data.forEach(function(item){%>
                                                    <tr>
                                                        <td><%= no++ %></td>
                                                        <td>Visi & Misi</td>
                                                       
                                                        <td><a href="/users/edit.visimisi/<%= item.id%>" class="btn btn-info">
                                                            <i class="ti-pencil"></i>
                                                       </td>
                                                    </tr>
                                                <%})  %>
                                            </tbody>
                                               
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <%}%>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
<script src="/admin/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
<script src="/admin/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script>
<script>
$(document).ready(function() {

    $('.textarea_editor').wysihtml5();
    $('.textarea_editor1').wysihtml5();


});
</script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
