
<%+ extend('layout/layout') %>
<%+ section('css')%>

<%+endSection%>
               <%+section('content')%>
               <%if(error == 1){%>
                <script> swal("Error", "Ada Kesalahan Saat Menginput Data !", "error")</script>
            <%}else if(error == 2){%>
                <script> swal("Success", "Berhasil Menginput Data !", "success")</script>
                <%}%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tambah Kelas</h4>
                                <form action="" method="POST" class="m-t-40" novalidate>
                                    <div class="form-group">
                                        <h5>Nama Kelas<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="nama_kelas" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                            <h5>Peminatan <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <select name="id_peminatan" id="select" required class="form-control">
                                                    <option value="">Pilih Peminatan</option>
                                                   <%dataPeminatan.forEach(function(item){%>
                                                    <option value="<%= item.id%>"><%= item.nama_peminatan%></option>
                                                   <%})%>
                                                </select>
                                            </div>
                                        </div>     
                                        <div class="form-group">
                                                <h5>Wali Kelas <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select name="id_wali_kelas" id="select" required class="form-control">
                                                        <option value="">Pilih Wali Kelas</option>
                                                       <%dataGuru.forEach(function(item){%>
                                                        <option value="<%= item.id%>"><%= item.nama%></option>
                                                       <%})%>
                                                    </select>
                                                </div>
                                            </div>     
                                            <div class="form-group">
                                                <h5>Status Kelas <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select name="id_kelas" id="select" required class="form-control">
                                                        <option value="">Pilih Status Kelas</option>
                                                       <%dataKelas.forEach(function(item){%>
                                                        
                                                       
                                                            <option value="<%= item.id%>"><%= item.kelas%></option>
                                                       <%})%>
                                                    </select>
                                                </div>
                                            </div>     
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
