
<%+ extend('layout/layout') %>
<%+ section('css')%>

<%+endSection%>
               <%+section('content')%>
               <%if(error == 1){%>
                <script> swal("Error", "Ada Kesalahan Saat Menginput Data !", "error")</script>
            <%}else if(error == 2){%>
                <script> swal("Success", "Berhasil Menginput Data !", "success")</script>
                <%}%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <form action="" method="POST" class="m-t-40" novalidate>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Siswa</h4>
                               
                                    <div class="form-group">
                                        <h5>Nama Lengkap Siswa <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="nama" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                        <h5>NIS Siswa <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="nis" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                            <h5>TTl Siswa <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" name="ttl" placeholder="contoh : Makassar/21-12-1997" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                        <div class="form-group">
                                                <h5>Jenis Kelamin <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <fieldset>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" value="1" name="jk" required id="styled_radio_inline1" class="custom-control-input">
                                                            <label class="custom-control-label" for="styled_radio_inline1">Laki-Laki</label>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" value="2" name="jk" id="styled_radio_inline2" class="custom-control-input">
                                                            <label class="custom-control-label" for="styled_radio_inline2">Perempuan</label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <h5>Tahun Ajaran <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <select name="id_ta" id="select" required class="form-control">
                                                        <option value="">Pilih Tahun Ajaran</option>
                                                       <%dataTa.forEach(function(item){%>
                                                        <option value="<%= item.id%>"><%= item.tahun_ajaran%></option>
                                                       <%})%>
                                                    </select>
                                                </div>
                                            </div>
                                    <div class="form-group">
                                            <h5>Kelas <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <select name="id_kelas" id="select" required class="form-control">
                                                    <option value="">Pilih Kelas</option>
                                                   <%dataKelas.forEach(function(item){%>
                                                    <option value="<%= item.id%>"><%= item.nama_kelas%></option>
                                                   <%})%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <h5>Email <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="email" name="email" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            </div>
                                    <div class="form-group">
                                        <h5>Password Input Field <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="password" name="password" class="form-control" required data-validation-required-message="This field is required"> </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Repeat Password Input Field <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="password" name="password2" data-validation-match-match="password" class="form-control" required> </div>
                                    </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Orang Tua Siswa</h4>
                                   
                                        <div class="form-group">
                                            <h5>Nama Lengkap Orangtua <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" name="nama_ortu" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                        <div class="form-group">
                                                <h5>TTl Orang Tua<span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="text" name="ttl_ortu" placeholder="contoh : Makassar/21-12-1997" class="form-control" required data-validation-required-message="This field is required"> </div>
                                                <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                            </div>
                                            <div class="form-group">
                                                    <h5>Jenis Kelamin <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <fieldset>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" value="1" name="jk_ortu" required id="styled_radio_inline3" class="custom-control-input">
                                                                <label class="custom-control-label" for="styled_radio_inline3">Laki-Laki</label>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset>
                                                            <div class="custom-control custom-radio">
                                                                <input type="radio" value="2" name="jk_ortu" id="styled_radio_inline4" class="custom-control-input">
                                                                <label class="custom-control-label" for="styled_radio_inline4">Perempuan</label>
                                                            </div>
                                                        </fieldset>
                                                    </div>
                                                </div>
                                        
                                        
                                            <div class="form-group">
                                                    <h5>Email <span class="text-danger">*</span></h5>
                                                    <div class="controls">
                                                        <input type="email" name="email_ortu" class="form-control" required data-validation-required-message="This field is required"> </div>
                                                </div>
                                        <div class="form-group">
                                            <h5>Password Input Field <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="password" name="password_ortu" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        </div>
                                        <div class="form-group">
                                            <h5>Repeat Password Input Field <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="password" name="password2" data-validation-match-match="password_ortu" class="form-control" required> </div>
                                        </div>
                                       
                                        <div class="text-xs-right">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-inverse">Cancel</button>
                                        </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
