
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link href="/admin/assets/node_modules/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
<%+endSection%>
               <%+section('content')%>
               
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <form action="" enctype="multipart/form-data" method="post">
                <div class="row" id="foto">
                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Foto Sarana & Prasarana</h4>
                               
                                  
                                   
                                        
                                    <div class="form-group">
                                       <input type="file" name="foto-sarana">
                                    </div>
                                   
                                
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-body">
                             
                               
                                  
                                   
                                        
                                 
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="button" id="uploadd"  class="btn btn-warning">Tambah Foto</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
<script src="/admin/assets/node_modules/dropzone-master/dist/dropzone.js"></script>
<script>
$(document).ready(function() {
$('#uploadd').click(function() {
    $('#foto').append(` <div class="col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Foto Sarana & Prasarana</h4>
                           
                              
                               
                                    
                                <div class="form-group">
                                   <input type="file" name="foto-sarana">
                                </div>
                               
                            
                        </div>
                    </div>
                </div>`)
})

});
</script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
