
<%+ extend('layout/layout') %>
<%+ section('css')%>

<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                      
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edit Guru</h4>
                                <form action="" method="POST" class="m-t-40" novalidate>
                                    <div class="form-group">
                                        <h5>Nama Lengkap Guru <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" value="<%= dataGuru.nama%>" name="nama" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                            <h5>TTl <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" value="<%= dataGuru.ttl%>" name="ttl" placeholder="contoh : Makassar/21-12-1997" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                       
                                    
                                    <div class="form-group">
                                            <h5>Mata Pelajaran <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <select name="id_mapel" id="select" required class="form-control">
                                                    <option value="">Pilih Mata Pelajaran</option>
                                                   <%dataMapel.forEach(function(item){ if(item.id == dataGuru.id_mapel){%>
                                                    <option selected value="<%= item.id%>"><%= item.nama_mapel%></option>
                                                    <%}else{%>
                                                    <option value="<%= item.id%>"><%= item.nama_mapel%></option>
                                                   <%}})%>
                                                </select>
                                            </div>
                                        </div>
                                     
                                   
                                   
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
