
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" href="/admin/assets/node_modules/html5-editor/bootstrap-wysihtml5.css" />
<link href="/admin/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />

<%+endSection%>
               <%+section('content')%>
               <%if(error == 1){%>
                <script> swal("Error", "Ada Kesalahan Saat Menginput Data !", "error")</script>
            <%}else if(error == 2){%>
                <script> swal("Success", "Berhasil Menginput Data !", "success")</script>
                <%}%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        
                    </div>
                   
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <form action="" method="POST" class="m-t-40" novalidate enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tambah Prestasi Sekolah</h4>
                              
                                    <div class="form-group">
                                        <h5>Title<span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text"  name="title" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                     
                                 
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Deskripsi</h4>
                               
                                  
                                   
                                        
                                    <div class="form-group">
                                        <textarea name="deskripsi" class="textarea_editor1 form-control" rows="15" placeholder="Enter text ..."></textarea>
                                    </div>
                                   
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="foto">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Foto & Tgl</h4>
                               
                               
                                   
                                        
                                    <div class="form-group">
                                       <input type="file" name="foto-prestasi">
                                    </div>
                                    
                                            
                                    <div class="input-group">
                                        <input name="tgl" type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calender"></i></span>
                                        </div>
                                    </div><br>
                                        <div class="text-xs-right">
                                            <button type="submit" class="btn btn-info">Submit</button>
                                            <button type="reset" class="btn btn-warning">Cancel</button>
                                        </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </form>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
<script src="/admin/assets/node_modules/html5-editor/wysihtml5-0.3.0.js"></script>
<script src="/admin/assets/node_modules/html5-editor/bootstrap-wysihtml5.js"></script>
<script src="/admin/assets/node_modules/moment/moment.js"></script>
<script src="/admin/assets/node_modules/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
<script src="/admin/assets/node_modules/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script>
$(document).ready(function() {

    $('.textarea_editor').wysihtml5();
    $('.textarea_editor1').wysihtml5();
    
});
</script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
     <script>
        jQuery('#datepicker-autoclose').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        </script>
<%+endSection%>
