
<%+ extend('layout/layout') %>
<%+ section('css')%>

<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        
                    </div>
                  
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tambah Guru</h4>
                                <form action="" method="POST" class="m-t-40" novalidate>
                                    <div class="form-group">
                                        <h5>Nama Lengkap Guru <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="nama" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                        <h5>NIK Guru <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="text" name="nik" class="form-control" required data-validation-required-message="This field is required"> </div>
                                        <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                    </div>
                                    <div class="form-group">
                                            <h5>TTl <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <input type="text" name="ttl" placeholder="contoh : Makassar/21-12-1997" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            <div class="form-control-feedback"><small>Add <code>required</code> attribute to field for required validation.</small></div>
                                        </div>
                                        <div class="form-group">
                                                <h5>Inline Radio Buttons <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <fieldset>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" value="1" name="jk" required id="styled_radio_inline1" class="custom-control-input">
                                                            <label class="custom-control-label" for="styled_radio_inline1">Laki-Laki</label>
                                                        </div>
                                                    </fieldset>
                                                    <fieldset>
                                                        <div class="custom-control custom-radio">
                                                            <input type="radio" value="2" name="jk" id="styled_radio_inline2" class="custom-control-input">
                                                            <label class="custom-control-label" for="styled_radio_inline2">Perempuan</label>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                            </div>
                                    
                                    <div class="form-group">
                                            <h5>Mata Pelajaran <span class="text-danger">*</span></h5>
                                            <div class="controls">
                                                <select name="id_mapel" id="select" required class="form-control">
                                                    <option value="">Pilih Mata Pelajaran</option>
                                                   <%result.forEach(function(item){%>
                                                    <option value="<%= item.id%>"><%= item.nama_mapel%></option>
                                                   <%})%>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <h5>Email <span class="text-danger">*</span></h5>
                                                <div class="controls">
                                                    <input type="email" name="email" class="form-control" required data-validation-required-message="This field is required"> </div>
                                            </div>
                                    <div class="form-group">
                                        <h5>Password Input Field <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="password" name="password" class="form-control" required data-validation-required-message="This field is required"> </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>Repeat Password Input Field <span class="text-danger">*</span></h5>
                                        <div class="controls">
                                            <input type="password" name="password2" data-validation-match-match="password" class="form-control" required> </div>
                                    </div>
                                   
                                    <div class="text-xs-right">
                                        <button type="submit" class="btn btn-info">Submit</button>
                                        <button type="reset" class="btn btn-inverse">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
               <%+endSection%>

<%+ section('js')%>
<script src="/admin/dist/js/pages/validation.js"></script>
    <script>
    ! function(window, document, $) {
        "use strict";
        $("input,select,textarea").not("[type=submit]").jqBootstrapValidation();
    }(window, document, jQuery);
    </script>
<%+endSection%>
