
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                       
                    </div>
                    
                </div>
               
               

                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="round align-self-center round-success"><i class="icon-people"></i></div>
                                    <div class="m-l-10 align-self-center">
                                        <h3 class="m-b-0"><%= data[0][0].guru%></h3>
                                        <h5 class="text-muted m-b-0">Guru</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="round align-self-center round-info"><i class="fa fa-graduation-cap"></i></div>
                                    <div class="m-l-10 align-self-center">
                                        <h3 class="m-b-0"><%= data[1][0].siswa%></h3>
                                        <h5 class="text-muted m-b-0">Siswa</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="round align-self-center round-danger"><i class="fa fa-building"></i></div>
                                    <div class="m-l-10 align-self-center">
                                        <h3 class="m-b-0"><%= data[2][0].jurusan - 1%></h3>
                                        <h5 class="text-muted m-b-0">Jurusan</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row">
                                    <div class="round align-self-center round-success"><i class="ti-layers-alt"></i></div>
                                    <div class="m-l-10 align-self-center">
                                        <h3 class="m-b-0"><%= data[3][0].kelas%></h3>
                                        <h5 class="text-muted m-b-0">Ruang Kelas</h5></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Table Responsive </h4>
                                <h6 class="card-subtitle">Data table example</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>NIK</th>
                                                <th>Nama Guru</th>
                                                <th>Mata Pelajaran</th>
                                                <th>Email</th>
                                                <th>TTL</th>
                                                <th>Jenis Kelamin</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var no = 1; guru.forEach(function(item){%>
                                                <tr>
                                                    <td><%= no++ %></td>
                                                    <td><%= item.g.nik%></td>
                                                    <td><%= item.g.nama%></td>
                                                    <td><%= item.m.nama_mapel%></td>
                                                    <td><%= item.g.email%></td>
                                                    <td><%= item.g.ttl%></td>
                                                    <%if(item.g.jk == 1){%>
                                                        <td>Laki-Laki</td>
                                                    <%}else{%>
                                                        <td>Perempuan</td>
                                                    <%}%>
                                                    <td><a href="/users/edit.guru/<%= item.g.id%>" class="btn btn-info">
                                                        <i class="ti-pencil"></i>
                                                    </a> <button type="button" values="<%= item.g.id%>" class="btn btn-danger del">
                                                        <i class="ti-trash"></i>
                                                    </button></td>
                                                </tr>
                                            <%})  %>
                                        </tbody>
                                           
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
 <script>
 $(function () {
 
 // responsive table
 $('#config-table').DataTable({
     responsive: true
 });
 $('#example23').DataTable({
     dom: 'Bfrtip',
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
 });
 $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
 });
 
 </script>
<%+endSection%>
