
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                    
                </div>
               
               

                <% var i = 1; data.forEach(function(item){%>
                    <form action="" method="post">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><%=item.data.nama_kelas%></h4>
                                <h6 class="card-subtitle">Data Kelas Siswa</h6>
                                <% var n = 0;  data.forEach(function(items){ if(item.data.kelas+1 == items.data.kelas){%>
                                    <input type="hidden" name="statusKelas" value="<%= item.data.kelas+1%>">
                                    <button type="submit" value="<%= items.data.id%>" name="kelas" class="btn btn-info   "><i class="fa fa-plus-circle"></i> <%= items.data.nama_kelas%></button>
                                    <%}else if((item.data.kelas == 3  && items.data.kelas == 3) && n == 0 ){ n=1%>
                                        <button type="submit" value="0"  name="kelas" class="btn btn-info"><i class="fa fa-plus-circle"></i> Tamat</button>
                                    
                                 <%}})%>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table<%= i++%>" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama Siswa</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var no = 1; item.data.daftarSiswa.forEach(function(item1){%>
                                                <tr>
                                                    <td><%= no++ %></td>
                                                    <td><%= item1.nama%></td>
                                                    <td><input type="checkbox" value="<%=item1.id%> <%=item1.id_siswa%> <%=item1.id_ta%> <%=item1.status_kelas%> <%=item1.status_tamat%>"  name="tes" id=""></td>
                                                </tr>
                                            <%})%>
                                        </tbody>
                                           
                                    </table>
                                </div>
                                
                               
                               
                            </div>
                           
                        </div>
                       
                    </div>
                </div>
            </form>
           <% })%>

                <input type="hidden"  id="no" name="no" value="<%= data.length%>">
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
 <script>
 $(function () {
 let data = $('#no').val();

 for (let index = 1; index <= data; index++) {
    $('#config-table'+index).DataTable({
     responsive: true
 });
     console.log(index);
     
 }
 // responsive table

 
 $('#example23').DataTable({
     dom: 'Bfrtip',
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
 });
 $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
 });
 
 </script>
<%+endSection%>
