
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                    
                </div>
               
               


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Table Kategori Sarana</h4>
                                <h6 class="card-subtitle">Data table example</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama Sarana</th>
                                                <th>Lihat Foto</th>
                                                <th>Action</th>      
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var no = 1; result.forEach(function(item){%>
                                                <tr>
                                                    <td><%= no++ %></td>
                                                    <td><%= item.kategori%></td>
                                                    <td><a href="/users/lihat.fotosarana/<%= item.id%>" class="btn btn-info">
                                                        <i class="ti-eye"></i>
                                                    </a></td>
                                                    <td><a href="/users/edit.kategorisarana/<%= item.id%>" class="btn btn-info">
                                                        <i class="ti-pencil"></i>
                                                    </a> <button type="button" values="<%= item.id%>" class="btn btn-danger del">
                                                        <i class="ti-trash"></i>
                                                    </button></td>
                                                </tr>
                                            <%})  %>
                                        </tbody>
                                           
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="verticalcenter" class="modal" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="vcenter">Hapus Guru</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <h4>Apakah Anda Yakin Ingin Menghapus Guru ?</h4>
                               
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="delete" class="btn btn-danger waves-effect" data-dismiss="modal">Delete</button>
                                <button type="button" id="close" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
 <script>
 $(function () {
 
 // responsive table
 $('#config-table').DataTable({
     responsive: true
 });
 $('#example23').DataTable({
     dom: 'Bfrtip',
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
 });
 $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
 $('.del').click(function () {
            let data = $(this).attr('values')
            console.log(data);
            $('#delete').click(function () {
                $.ajax({
                type: "POST",
                url: "/users/del.kategorisarana",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : data
                },
                success: function (result) {
                    if (result) {
                        $('#verticalcenter').fadeOut()
                        document.location.reload(true)
                      
                    } else {
                        alert('gagal')
                    }
                }
            })
                
            })

            $('#verticalcenter').fadeIn()
            $('.close').click(function () {
                $('#verticalcenter').fadeOut()
            })
            $('#close').click(function () {
                $('#verticalcenter').fadeOut()
            })
        })
 
 });
 
 </script>
<%+endSection%>
