
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                       
                    </div>
                    
                </div>
               
               


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Table Table PKL</h4>
                                <h6 class="card-subtitle">Data table example</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama</th>
                                                <th>Kelas</th>
                                                <th>Action</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var no = 1; data1.forEach(function(item){%>
                                                <tr>
                                                    <td><%= no++ %></td>
                                                    <td><%= item.nama%></td>
                                                    <td><%= item.nama_kelas%></td>
                                                    <td><a href="/users/form-pkl/<%= item.id%>">pilih</a></td>
                                                </tr>
                                            <%})  %>
                                        </tbody>
                                           
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Table Responsive </h4>
                                <h6 class="card-subtitle">Data table example</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table1" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama</th>
                                                <th>Kelas</th>
                                                <th>Tempat PKL</th>
                                                <th>Nilai</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var no = 1; data2.forEach(function(item){%>
                                                <tr>
                                                    <td><%= no++ %></td>
                                                    <td><%= item.nama%></td>
                                                    <td><%= item.nama_kelas%></td>
                                                    <td><%= item.tempat_pkl%></td>
                                                    <td><%= item.nilai%></td>
                                                </tr>
                                            <%})  %>
                                        </tbody>
                                           
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
 <script>
 $(function () {
 
 // responsive table
 $('#config-table').DataTable({
     responsive: true
 });
 $('#config-table1').DataTable({
     responsive: true
 });
 $('#example23').DataTable({
     dom: 'Bfrtip',
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
 });
 $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
 });
 
 </script>
<%+endSection%>
