<!DOCTYPE html>
<html class="no-js" lang="en">
<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:07:42 GMT -->

<head>
    <!-- title -->
    <title>
        SMK WAHYU
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ThemeZaa" />
    <!-- description -->
    <meta name="description"
        content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos." />
    <!-- keywords -->
    <meta name="keywords"
        content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq" />
    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <!-- animation -->
    <link rel="stylesheet" href="/index/css/animate.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="/index/css/bootstrap.min.css" />
    <!-- et line icon -->
    <link rel="stylesheet" href="/index/css/et-line-icons.css" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="/index/css/font-awesome.min.css" />
    <!-- themify icon -->
    <link rel="stylesheet" href="/index/css/themify-icons.css" />
    <!-- swiper carousel -->
    <link rel="stylesheet" href="/index/css/swiper.min.css" />
    <!-- justified gallery  -->
    <link rel="stylesheet" href="/index/css/justified-gallery.min.css" />
    <!-- magnific popup -->
    <link rel="stylesheet" href="/index/css/magnific-popup.css" />
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="/index/revolution/css/settings.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/index/revolution/css/layers.css" />
    <link rel="stylesheet" type="text/css" href="/index/revolution/css/navigation.css" />
    <!-- bootsnav -->
    <link rel="stylesheet" href="/index/css/bootsnav.css" />
    <!-- style -->
    <link rel="stylesheet" href="/index/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="/index/css/responsive.css" />
    <!--[if IE]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
    <!-- start header -->
    <header>
        <!-- start navigation -->
        <nav
            class="navbar navbar-default bootsnav navbar-fixed-top header-light background-transparent nav-box-width white-link navbar-expand-lg">
            <div class="container nav-header-container">
                <!-- start logo -->
                <div class="col-auto pl-lg-0">
                    <a href="../#home" title="Pofo" class="logo"><img src="/admin/assets/images/background/wahyu.jpeg"
                            data-rjs="/admin/assets/images/background/wahyu.jpeg" class="logo-dark" alt="Pofo" /><img
                            src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg" alt="Pofo"
                            class="logo-light default" /></a>
                </div>
                <!-- end logo -->
                <div class="col-auto col-lg accordion-menu pr-lg-0">
                    <button type="button" class="navbar-toggler collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse-toggle-1">
                        <span class="sr-only">toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                        <ul class="nav navbar-nav alt-font font-weight-700">
                            <li>
                                <a href="../#home" title="Home" class="inner-link">Home</a>
                            </li>
                            <li>
                                <a href="../#about" title="About" class="inner-link">PRofile</a>
                            </li>
                            <li>
                                <a href="../#Jurusan" title="Services" class="inner-link">Jurusan</a>
                            </li>
                            <li>
                                <a href="../#work" title="Work" class="inner-link">Sarana & Prasarana</a>
                            </li>
                            <li>
                                <a href="../#team" title="Team" class="inner-link">TEam</a>
                            </li>
                            <li>
                                <a href="../#blog" title="Blog" class="inner-link">Berita sekolah</a>
                            </li>
                            <li class="dropdown simple-dropdown">
                                <a href="#">Jadwal</a><i class="fas fa-angle-down dropdown-toggle"
                                    data-toggle="dropdown" aria-hidden="true"></i>
                                <!-- start sub menu -->
                                <ul class="dropdown-menu" role="menu">
                                    <%kalender.forEach(function(item){%>
                                    <li>
                                        <a class="dropdown-toggle" data-toggle="dropdown"
                                            href="/jadwal/<%= item.id%>"><%= item.title%><i
                                                class="fas fa-angle-right"></i></a>
                                    </li>
                                    <% })%>
                                </ul>
                            </li>
                            <li>
                                <a href="../#contact" title="Contact" class="inner-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->
    <!-- start page title section -->
    <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5"
        style="background-image:url('images/parallax-bg41.jpg');">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row align-items-center">
                <div
                    class="col-12 d-flex flex-column justify-content-center text-center extra-small-screen page-title-large">
                    <!-- start page title -->
                    <h1 class="text-white-2 alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">
                        <%= title%>
                    </h1>
                    <span class="text-white-2 opacity6 alt-font"></span>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->
    <!-- start post content section -->
    <section id="blog" class="wow fadeIn bg-light-gray half-section last-paragraph-no-margin blog-post-style5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 px-3 p-md-0">
                    <ul id="parent" class="blog-grid blog-5col gutter-large">
                        <li class="grid-sizer"></li>
                        <!-- start post item -->
                        <%data.forEach(function(item){%>
                        <li class="child grid-item wow fadeInUp last-paragraph-no-margin">
                            <div class="blog-post">
                                <div class="blog-post-images overflow-hidden">
                                    <a href="/blog-detail/<%=item.id%>">
                                        <img src="<%= item.foto%>" alt="" />
                                    </a>
                                    <div class="blog-categories bg-white text-uppercase text-extra-small alt-font">
                                        <a href="/blog-detail/<%=item.id%>"><%= title%></a>
                                    </div>
                                </div>
                                <div class="post-details padding-40px-all bg-white md-padding-20px-all">
                                    <div class="blog-hover-color"></div>
                                    <a href="/blog-detail/<%=item.id%>"
                                        class="alt-font post-title text-medium text-extra-dark-gray width-90 d-block lg-width-100 margin-5px-bottom"><%= item.title%></a>
                                    <div class="author">
                                        <span class="text-medium-gray text-uppercase text-extra-small d-inline-block">by
                                            <a href="/blog-detail/<%=item.id%>"
                                                class="text-medium-gray">Admin</a>&nbsp;&nbsp;|&nbsp;&nbsp;<%= item.date%></span>
                                    </div>
                                    <div
                                        class="separator-line-horrizontal-full bg-medium-gray margin-seven-tb lg-margin-four-tb">
                                    </div>
                                    <p><%- item.deskripsi.substring(0, 100)%></p>
                                </div>
                            </div>
                        </li>
                        <%})%>
                        <!-- end post item -->
                    </ul>
                </div>
            </div>
            <!-- start pagination -->
            <div class=" text-center margin-100px-top md-margin-50px-top wow fadeInUp">
                <div class="pagination text-small text-uppercase text-extra-dark-gray">
                    <ul class="mx-auto" id="pagination">
                        <li>
                            <a href="javascript:void(0)"><i
                                    class="fas fa-long-arrow-alt-left margin-5px-right d-none d-md-inline-block"></i>
                                Prev</a>
                        </li>
                        <!-- <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li>
                            <a href="#">Next
                                <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- end pagination -->
        </div>
    </section>
    <!-- end post content section -->
    <!-- start footer -->
    <footer class="footer-strip bg-light-gray padding-50px-tb sm-padding-30px-tb">
        <div class="container">
            <div class="row align-items-center">
                <!-- start logo -->
                <div class="col-md-3 text-center text-lg-left sm-margin-20px-bottom">
                    <a href="../#home"><img class="footer-logo" src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg"
                            alt="Pofo" /></a>
                </div>
                <!-- end logo -->
                <!-- start copyright -->
                <div class="col-md-6 text-center text-small alt-font sm-margin-10px-bottom">
                    &copy; 2019 SMK WAHYU
                </div>
                <!-- end copyright -->
                <!-- start social media -->
                <div class="col-md-3 text-center text-lg-right">
                    <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                        <ul class="small-icon mb-0">
                            <li>
                                <a class="facebook text-black" href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook-f" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a class="twitter text-black" href="https://twitter.com/" target="_blank"><i
                                        class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="google text-black" href="https://plus.google.com/" target="_blank"><i
                                        class="fab fa-google-plus-g"></i></a>
                            </li>
                            <li>
                                <a class="dribbble text-black" href="https://dribbble.com/" target="_blank"><i
                                        class="fab fa-dribbble mr-0" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end social media -->
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="/index/js/jquery.js"></script>
    <script type="text/javascript" src="/index/js/modernizr.js"></script>
    <script type="text/javascript" src="/index/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/index/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/index/js/skrollr.min.js"></script>
    <script type="text/javascript" src="/index/js/smooth-scroll.js"></script>
    <script type="text/javascript" src="/index/js/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="/index/js/bootsnav.js"></script>
    <script type="text/javascript" src="/index/js/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="/index/js/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="/index/js/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="/index/js/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="/index/js/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="/index/js/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="/index/js/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="/index/js/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="/index/js/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="/index/js/classie.js"></script>
    <script type="text/javascript" src="/index/js/hamburger-menu.js"></script>
    <!-- counter  -->
    <script type="text/javascript" src="/index/js/counter.js"></script>
    <!-- fit video  -->
    <script type="text/javascript" src="/index/js/jquery.fitvids.js"></script>
    <!-- skill bars  -->
    <script type="text/javascript" src="/index/js/skill.bars.jquery.js"></script>
    <!-- justified gallery  -->
    <script type="text/javascript" src="/index/js/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script type="text/javascript" src="/index/js/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script type="text/javascript" src="/index/js/instafeed.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="/index/js/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
    <script type="text/javascript" src="/index/js/main.js"></script>
    <script>
        var numberOfItems = $("#parent .child").length;
        var limitPerPage = 22;
        $("#parent .child:gt(" + (limitPerPage - 1) + ")").hide();
        var totalPages = Math.round(numberOfItems / limitPerPage);
        $("#pagination").append(
           ` <li class="active page"><a href="javascript:void(0)">1</a></li>`
        );
        for (var i = 2; i <= totalPages; i++) {
            $("#pagination").append(
                ` <li class="page"><a href="javascript:void(0)">${i}</a></li>`
            );
        }

        $("#pagination").append(
            ` <li id="next-page">
                            <a href="javascript:void(0)">Next
                                <i class="fas fa-long-arrow-alt-right margin-5px-left d-none d-md-inline-block"></i></a>
                        </li>`
        );

        $("#pagination li.page").on("click", function () {
            if ($(this).hasClass("active")) {
                return false;
            } else {
                var currentPage = $(this).index();
                $("#pagination li").removeClass("active");
                $(this).addClass("active");
                $("#parent .child").hide(); // Hide all items in loop, this case, all the list groups
                var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page number that was clicked on

                // Loop through total items, selecting a new set of items based on page number
                for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
                    $("#parent .child:eq(" + i + ")")
                .show(); // Show items from the new page that was selected
                }
            }
        });

        // Function to navigate to the next page when users click on the next-page id (next page button)
        $("#next-page").on("click", function () {
            var currentPage = $(".pagination li.page-item.active").index(); // Identify the current active page
            // Check to make sure that navigating to the next page will not exceed the total number of pages
            if (currentPage === totalPages) {
                return false; // Return false (i.e., cannot navigate any further, since it would exceed the maximum number of pages)
            } else {
                currentPage++;
                // Increment the page by one
                $("#pagination li").removeClass(
                "active"); // Remove the 'active' class status from the current page
                $("#parent .child").hide(); // Hide all items in the pagination loop
                var grandTotal = limitPerPage * currentPage; // Get the total number of items up to the page that was selected

                // Loop through total items, selecting a new set of items based on page number
                for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
                    $("#parent .child:eq(" + i + ")").show();
                    // Show items from the new page that was selected
                }

                $("#pagination li.page:eq(" + (currentPage - 1) + ")").addClass(
                    "active"
                ); // Make new page number the 'active' page
            }
        });

        // Function to navigate to the previous page when users click on the previous-page id (previous page button)
        $("#previous-page").on("click", function () {
            var currentPage = $("#pagination li.page.active").index();
            console.log(currentPage); // Identify the current active page
            // Check to make sure that users is not on page 1 and attempting to navigating to a previous page
            if (currentPage === 1) {
                return false; // Return false (i.e., cannot navigate to a previous page because the current page is page 1)
            } else {
                currentPage--; // Decrement page by one

                $("#pagination li").removeClass(
                "active"); // Remove the 'activate' status class from the previous active page number
                $("#parent .child").hide(); // Hide all items in the pagination loop
                var grandTotal = limitPerPage *
                currentPage; // Get the total number of items up to the page that was selected

                // Loop through total items, selecting a new set of items based on page number
                for (var i = grandTotal - limitPerPage; i < grandTotal; i++) {
                    $("#parent .child:eq(" + i + ")").show();
                    console.log(i);
                    // Show items from the new page that was selected
                }

                $("#pagination li.page:eq(" + (currentPage - 1) + ")").addClass(
                    "active"
                ); // Make new page number the 'active' page
            }
        });
    </script>
</body>

<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:07:42 GMT -->

</html>