<!doctype html>
<html class="no-js" lang="en">
    
<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:07:42 GMT -->
<head>
        <!-- title -->
        <title>SMK WAHYU</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="/index/css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="/index/css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="/index/css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="/index/css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="/index/css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="/index/css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="/index/css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="/index/css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="/index/css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="/index/css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="/index/css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light background-transparent nav-box-width white-link navbar-expand-lg">
                <div class="container nav-header-container">
                    <!-- start logo -->
                    <div class="col-auto pl-lg-0">
                        <a href="../#home" title="Pofo" class="logo"><img src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg" class="logo-dark" alt="Pofo"><img src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg" alt="Pofo" class="logo-light default"></a>
                    </div>
                    <!-- end logo -->
                    <div class="col-auto col-lg accordion-menu pr-lg-0">
                        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                            <span class="sr-only">toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                            <ul class="nav navbar-nav alt-font font-weight-700">
                                <li><a href="../#home" title="Home" style="color: black" class="inner-link">Home</a></li>
                                <li><a href="../#about" title="About" style="color: black" class="inner-link">PRofile</a></li>
                                <li><a href="../#Jurusan" title="Services" style="color: black" class="inner-link">Jurusan</a></li>
                                <li><a href="../#work" title="Work" style="color: black" class="inner-link">Sarana & Prasarana</a></li>
                                <li><a href="../#team" title="Team" style="color: black" class="inner-link">Team</a></li>
                                <li><a href="../#blog" title="Blog" style="color: black" class="inner-link">Berita sekolah</a></li>
                                <li class="dropdown simple-dropdown"><a href="#">Jadwal</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->
                                    <ul class="dropdown-menu" role="menu">
                                        <%kalender.forEach(function(item){%>
                                        <li ><a class="dropdown-toggle" data-toggle="dropdown" href="/jadwal/<%= item.id%>"><%= item.title%><i class="fas fa-angle-right"></i></a>
                                           
                                        </li>
                                   <% })%>
                                    </ul>
                                </li>
                                <li><a href="../#contact" title="Contact"style="color: black" class="inner-link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->  
        </header>
        <!-- end header -->
        <!-- start page title section -->
        <section class="wow fadeIn bg-light-gray padding-35px-tb page-title-small top-space">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-8 col-md-6 d-flex flex-column justify-content-center text-center text-md-left">
                        <!-- start page title -->
                        <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase"><%=data.title%></h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-xl-4 col-md-6 alt-font breadcrumb justify-content-center justify-content-md-end text-small sm-margin-10px-top">
                        <!-- breadcrumb -->
                        <ul class="text-center text-md-left text-uppercase">
                            <li><a href="#" class="text-dark-gray"><%=data.date%></a></li>
                            <li><span class="text-dark-gray">by <a href="blog-masonry.html">Admin</a></span></li>
                            <li class="text-dark-gray"><a href="blog-masonry.html"></a></li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->
        <!-- start post content section --> 
        <section>
            <div class="container">
                <div class="row">
                    <main class="col-12 col-lg-9 right-sidebar md-margin-60px-bottom sm-margin-40px-bottom pl-0 md-no-padding-right">
                        <div class="col-12 blog-details-text last-paragraph-no-margin">
                            <img src="<%=data.foto%>" alt="" class="width-100 margin-45px-bottom">
                            <p><%-data.deskripsi%></p>
                            </div>
                        <div class="col-12 margin-seven-bottom margin-eight-top">
                            <div class="divider-full bg-medium-light-gray"></div>
                        </div>
                    
                       
                        <div class="col-12 d-flex flex-wrap p-0">
                            <div class="col-12 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                                <div class="position-relative overflow-hidden width-100">
                                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Related Posts</span>
                                </div>
                            </div>
                            <!-- start post item -->
                            <% relatedPost.forEach(function(item){%>
                            <div class="col-12 col-lg-4 col-md-6 last-paragraph-no-margin md-margin-50px-bottom sm-margin-30px-bottom wow fadeIn">
                                <div class="blog-post blog-post-style1 text-center text-md-left">
                                    <div class="blog-post-images overflow-hidden margin-25px-bottom md-margin-20px-bottom">
                                        <a href="/blog-detail/<%= item.id%>">
                                            <img src="<%= item.foto%>" alt="">
                                        </a>
                                    </div>
                                    <div class="post-details">
                                        <span class="post-author text-extra-small text-medium-gray text-uppercase d-block margin-10px-bottom sm-margin-5px-bottom"><%= item.date%> | by <a href="/blog-detail/<%= item.id%>" class="text-medium-gray">Admin</a></span>
                                        <a href="/blog-detail/<%= item.id%>" class="post-title text-medium text-extra-dark-gray width-90 d-block md-width-100"><%= item.title%></a>
                                        <div class="separator-line-horrizontal-full bg-medium-light-gray margin-20px-tb md-margin-15px-tb"></div>
                                        <p class="width-90 sm-width-100"><%- item.deskripsi.substring(0, 100)%></p>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                            <!-- end post item --> 
                            <!-- start post item -->
                          
                            <!-- end post item -->
                        </div>
                        <div class="col-12 margin-eight-top">
                            <div class="divider-full bg-medium-light-gray"></div>
                        </div>
<div class="col-12 blog-details-comments">
                            <div class="width-100 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                                <div class="position-relative overflow-hidden width-100">
                                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">10 Comments</span>
                                </div>
                            </div>
                            <ul class="blog-comment">
                                <li>
                                    <div class="d-block d-md-flex  width-100">
                                        <div class="width-110px sm-width-50px text-center sm-margin-10px-bottom">
                                            <img src="images/avtar-02.jpg" class="rounded-circle width-85 sm-width-100" alt=""/>
                                        </div>
                                        <div class="width-100 padding-40px-left last-paragraph-no-margin sm-no-padding-left">
                                            <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Herman Miller</a>
                                            <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                            <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        </div>
                                    </div>
                                    <ul class="child-comment">
                                        <li>
                                            <div class="d-block d-md-flex  width-100">
                                                <div class="width-110px sm-width-50px text-center sm-margin-10px-bottom">
                                                    <img src="images/avtar-01.jpg" class="rounded-circle width-85 sm-width-100" alt="" />
                                                </div>
                                                <div class="width-100 padding-40px-left last-paragraph-no-margin sm-no-padding-left">
                                                    <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Alexander Harvard</a>
                                                    <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                                    <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="d-block d-md-flex  width-100">
                                        <div class="width-110px sm-width-50px text-center sm-margin-10px-bottom">
                                            <img src="images/avtar-04.jpg" class="rounded-circle width-85 sm-width-100" alt=""/>
                                        </div>
                                        <div class="width-100 padding-40px-left last-paragraph-no-margin sm-no-padding-left">
                                            <a href="#" class="text-extra-dark-gray text-uppercase alt-font font-weight-600 text-small">Jennifer Freeman</a>
                                            <a href="#comments" class="inner-link btn-reply text-uppercase alt-font text-extra-dark-gray">Reply</a>
                                            <div class="text-small text-medium-gray text-uppercase margin-10px-bottom">17 july 2017, 6:05 pm</div>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-12 margin-eight-top" id="comments">
                            <div class="divider-full bg-medium-light-gray"></div>
                        </div>
                        <div class="col-12 d-flex flex-wrap p-0">
                            <div class="col-12 mx-auto text-center margin-80px-tb md-margin-50px-tb sm-margin-30px-tb">
                                <div class="position-relative overflow-hidden width-100">
                                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase text-extra-dark-gray">Write A Comments</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="text" placeholder="Name *" class="medium-input">
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="text" placeholder="E-mail *" class="medium-input">
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="url" placeholder="Website" class="medium-input">
                            </div>
                            <div class="col-12">
                                <textarea placeholder="Enter your comment here.." rows="8" class="medium-textarea"></textarea>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-dark-gray btn-small margin-15px-top" type="submit">Send message</button>
                            </div>
                        </div>
                    </main>
                   
                </div>
            </div>
        </section>
        <!-- end blog content section -->  
        <!-- start footer --> 
        <footer class="footer-strip bg-light-gray padding-50px-tb sm-padding-30px-tb">
            <div class="container">
                <div class="row align-items-center">
                    <!-- start logo -->
                    <div class="col-md-3 text-center text-lg-left sm-margin-20px-bottom">
                        <a href="index-2.html"><img class="footer-logo" src="/admin/assets/images/background/wahyu.jpeg" data-rjs="images/logo@2x.png" alt="Pofo"></a>
                    </div> 
                    <!-- end logo -->
                    <!-- start copyright -->
                    <div class="col-md-6 text-center text-small alt-font sm-margin-10px-bottom">
                        &copy; 2019 SMK WAHYU
                    </div>
                    <!-- end copyright -->
                    <!-- start social media -->
                    <div class="col-md-3 text-center text-lg-right">
                        <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                            <ul class="small-icon mb-0">
                                <li><a class="facebook text-black" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a class="twitter text-black" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google text-black" href="https://plus.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="dribbble text-black" href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble mr-0" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end social media -->
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="/index/js/jquery.js"></script>
        <script type="text/javascript" src="/index/js/modernizr.js"></script>
        <script type="text/javascript" src="/index/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/index/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/index/js/skrollr.min.js"></script>
        <script type="text/javascript" src="/index/js/smooth-scroll.js"></script>
        <script type="text/javascript" src="/index/js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="/index/js/bootsnav.js"></script>
        <script type="text/javascript" src="/index/js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="/index/js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="/index/js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="/index/js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="/index/js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="/index/js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="/index/js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="/index/js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="/index/js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="/index/js/classie.js"></script>
        <script type="text/javascript" src="/index/js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="/index/js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="/index/js/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="/index/js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="/index/js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="/index/js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="/index/js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="/index/js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="/index/js/main.js"></script>
    </body>

<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:07:42 GMT -->
</html>