<!doctype html>
<html class="no-js" lang="en">
    
<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:07:42 GMT -->
<head>
        <!-- title -->
        <title>POFO – Creative Agency, Corporate and Portfolio Multi-purpose Template</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="/index/css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="/index/css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="/index/css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="/index/css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="/index/css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="/index/css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="/index/css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="/index/css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="/index/css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="/index/css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="/index/css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- start header -->
        <header>
            <!-- start navigation -->
            <nav class="navbar navbar-default bootsnav navbar-fixed-top header-light background-transparent nav-box-width white-link navbar-expand-lg">
                <div class="container nav-header-container">
                    <!-- start logo -->
                    <div class="col-auto pl-lg-0">
                        <a href="index-2.html" title="Pofo" class="logo"><img src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg" class="logo-dark" alt="Pofo"><img src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg" alt="Pofo" class="logo-light default"></a>
                    </div>
                    <!-- end logo -->
                    <div class="col-auto col-lg accordion-menu pr-lg-0">
                        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                            <span class="sr-only">toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
                            <ul class="nav navbar-nav alt-font font-weight-700">
                                <li><a href="#home" title="Home" class="inner-link">Home</a></li>
                                <li><a href="#about" title="About" class="inner-link">PRofile</a></li>
                                <li><a href="#jurusan" title="Services" class="inner-link">Jurusan</a></li>
                                <li><a href="#work" title="Work" class="inner-link">Sarana & Prasarana</a></li>
                                <li><a href="#team" title="Team" class="inner-link">TEam</a></li>
                                
                                <li class="dropdown simple-dropdown"><a href="#">Berita</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->
                                    <ul class="dropdown-menu" role="menu">
                                        
                                        <li ><a class="dropdown-toggle" data-toggle="dropdown" href="#prestasi">Prestasi Sekolah</a><i class="fas fa-angle-right"></i></a>
                                           
                                        </li>
                                        <li ><a class="dropdown-toggle" data-toggle="dropdown" href="#berita">Berita Sekolah<i class="fas fa-angle-right"></i></a>
                                           
                                        </li>
                                  
                                    </ul>
                                </li>
                                <li class="dropdown simple-dropdown"><a href="#">Jadwal</a><i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->
                                    <ul class="dropdown-menu" role="menu">
                                        <%kalender.forEach(function(item){%>
                                        <li ><a class="dropdown-toggle" data-toggle="dropdown" href="/jadwal/<%= item.id%>"><%= item.title%><i class="fas fa-angle-right"></i></a>
                                           
                                        </li>
                                   <% })%>
                                    </ul>
                                </li>
                                <li><a href="#contact" title="Contact" class="inner-link">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- end navigation -->  
        </header>
        <!-- end header -->
        <!-- start hero section -->
        <section id="home" class="p-0 parallax mobile-height wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('/admin/assets/images/background/background.jpeg');">
            <div class="opacity-extra-medium bg-extra-dark-gray"></div>
            <div class="container position-relative full-screen">
                <div class="slider-typography text-center">
                    <div class="slider-text-middle-main sm-padding-15px-lr">
                        <div class="slider-text-middle">
                            <img src="/index/images/text.png" alt=""/>
                            <div class="down-section text-center"><a href="#about" class="inner-link"><i class="ti-arrow-down icon-extra-small text-white-2 bg-deep-pink padding-15px-all sm-padding-10px-all rounded-circle"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end hero section -->
        <!-- start feature box section -->
        
        <!-- end feature box section -->
        <!-- start parallax section -->
       
        <!-- end parallax section -->
        <!-- start services section -->
       
        <!-- end services section -->
        <!-- start counter section -->
        <section id="about" class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <!-- start counter box item -->
                    <div class="col-12 col-lg-3 col-md-6 md-padding-twelve-left md-margin-ten-bottom sm-margin-50px-bottom sm-padding-15px-left wow fadeInRight">
                        <div class="feature-box-5 position-relative">
                            <i class="fas fa-users text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="d-block text-extra-dark-gray font-weight-600 alt-font mb-0 timer" data-speed="2000" data-to="<%=data[0][0].guru%>"><%=data[0].guru%></h6>
                                <span class="text-small text-uppercase position-relative top-minus4">Guru</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter box item -->
                    <!-- start counter box item -->
                    <div class="col-12 col-lg-3 col-md-6 md-padding-twelve-left md-margin-ten-bottom sm-margin-50px-bottom sm-padding-15px-left wow fadeInRight" data-wow-delay="0.2s">
                        <div class="feature-box-5 position-relative">
                            <i class="fas fa-graduation-cap text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="d-block text-extra-dark-gray font-weight-600 alt-font mb-0 timer" data-speed="2000" data-to="<%=data[1][0].siswa%>">780</h6>
                                <span class="text-small text-uppercase position-relative top-minus4">Siswa</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter box item -->
                    <!-- start counter box item -->
                    <div class="col-12 col-lg-3 col-md-6 md-padding-twelve-left sm-margin-50px-bottom sm-padding-15px-left wow fadeInRight" data-wow-delay="0.4s">
                        <div class="feature-box-5 position-relative">
                            <i class="fas fa-building text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="d-block text-extra-dark-gray font-weight-600 alt-font mb-0 timer" data-speed="2000" data-to="<%=data[2][0].jurusan - 1%>"><%=data[2].jurusan - 1%></h6>
                                <span class="text-small text-uppercase position-relative top-minus4">Jurusan</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter box item -->
                    <!-- start counter box item -->
                    <div class="col-12 col-lg-3 col-md-6 md-padding-twelve-left sm-padding-15px-left wow fadeInRight" data-wow-delay="0.6s">
                        <div class="feature-box-5 position-relative">
                            <i class="ti-layers-alt text-medium-gray icon-extra-medium top-6"></i>
                            <div class="feature-content">
                                <h6 class="d-block text-extra-dark-gray font-weight-600 alt-font mb-0 timer" data-speed="2000" data-to="<%=data[3][0].kelas%>"><%=data[3].kelas%></h6>
                                <span class="text-small text-uppercase position-relative top-minus4">Ruangan Kelas</span>
                            </div>
                        </div>
                    </div>
                    <!-- end counter box item -->
                </div>
            </div>
        </section>
        <!-- end counter section -->
        <!-- start accordion section -->
        <section class="bg-light-gray border-none p-0 wow fadeIn">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 padding-seven-lr padding-six-half-tb lg-padding-five-tb lg-padding-six-lr md-padding-six-all sm-padding-50px-tb sm-padding-15px-lr wow fadeInLeft">
                        <h5 class="alt-font text-extra-dark-gray text-center text-lg-left margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom font-weight-600"><span class="font-weight-300 d-block sm-margin-15px-bottom">We're small but impressive.</span> Hand crafted pixel perfect designs.</h5>
                        <!-- start accordion -->
                        <div class="panel-group accordion-style2" id="accordion-main">
                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseOne">
                                        <div class="panel-title">
                                            <span class="alt-font font-weight-600 text-deep-pink tab-tag">01</span>
                                            <span class="text-extra-dark-gray sm-width-80 d-inline-block">Visi</span>
                                            <i class="fas fa-angle-up float-right text-extra-dark-gray "></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse show" data-parent="#accordion-main">
                                    <div class="panel-body"><%-visimisi.visi%></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseTwo">
                                        <div class="panel-title">
                                            <span class="alt-font font-weight-600 text-deep-pink tab-tag">02</span>
                                            <span class="text-extra-dark-gray sm-width-80 d-inline-block">Misi</span>
                                            <i class="indicator fas fa-angle-down float-right text-extra-dark-gray "></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" data-parent="#accordion-main">
                                    <div class="panel-body"><%-visimisi.misi%></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                            <!-- start tab content -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-main" href="#collapseThree">
                                        <div class="panel-title">
                                            <span class="alt-font font-weight-600 text-deep-pink tab-tag">03</span>
                                            <span class="text-extra-dark-gray sm-width-80 d-inline-block">Profile</span>
                                            <i class="indicator fas fa-angle-down float-right text-extra-dark-gray "></i>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" data-parent="#accordion-main">
                                    <div class="panel-body"><%- profile.deskripsi%></div>
                                </div>
                            </div>
                            <!-- end tab content -->
                        </div>
                        <!-- end accordion -->
                    </div>
                    <div class="col-12 col-lg-6 cover-background md-height-500px sm-height-350px wow fadeInRight" style="background:url('/admin/assets/images/background/profile.jpeg')"></div>
                </div>
            </div>
        </section>

        <section id="jurusan" class="bg-light-gray wow fadeIn">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
                      <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">Jurusan</h5>
                      <p class="mb-0">SMK 1 Wahyu Makassar mempunyai 2 bidang kejuruan yaitu : </p>
                  </div>  
              </div>
              <div class="row justify-content-center">
                  <!-- start services item -->
                
                  <!-- end services item -->
                  <!-- start services item -->
                
                  <!-- end services item -->
                  <!-- start services item -->
                  <div class="col-12 col-lg-3 col-md-6 sm-margin-eight-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                      <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5">
                          <div class="d-inline-block margin-20px-bottom sm-margin-10px-bottom"><i class="icon-scissors text-white-2 icon-round-small bg-deep-pink"></i></div>
                          <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Akuntansi</div>
                          <p class="width-75 lg-width-90 mx-auto">Akuntasi adalah sebuah program studi yang menyiapkan mahasiswanya untuk bisa mempraktekkan profesi akuntansi dan melakukan fungsi bisnis terkait, termasuk menerapkan instruksi dalam prinsip akuntansi dan teori.  </p>
                          <div class="feature-box-overlay bg-deep-pink"></div>
                      </div>
                  </div>
                  <!-- end services item -->
                  <!-- start services item -->
                  <div class="col-12 col-lg-3 col-md-6 wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
                      <div class="bg-white box-shadow-light text-center padding-eighteen-tb feature-box-8 position-relative z-index-5">
                          <div class="d-inline-block margin-20px-bottom"><i class="icon-laptop text-white-2 icon-round-small bg-deep-pink"></i></div>
                          <div class="alt-font text-extra-dark-gray font-weight-600 margin-10px-bottom">Perkantoran</div>
                          <p class="width-75 lg-width-90 mx-auto">Program studi Administrasi Perkantoran atau Kesekretariatan membekalimu dengan pengetahuan, keterampilan, dan sikap dalam menyelesaikan pekerjaan-pekerjaan organisasi, membantu dan menangani pekerjaan dan tugas-tugas pimpinan.</p>
                          <div class="feature-box-overlay bg-deep-pink"></div>
                      </div>
                  </div>
                  <!-- end services item -->
              </div>
          </div>
      </section>
        <!-- end accordion section -->
        <!-- start masonry portfolio section -->
        <section id="work" class="pb-0 wow fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom text-center last-paragraph-no-margin md-margin-40px-bottom sm-margin-30px-bottom">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">Sarana & Prasarana</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since.</p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <!-- start filter navigation -->
                        <ul class="portfolio-filter nav nav-tabs border-none portfolio-filter-tab-1 alt-font text-uppercase text-center text-small font-weight-600 margin-80px-bottom md-margin-40px-bottom sm-margin-20px-bottom">
                            <li class="nav active"><a href="javascript:void(0);" data-filter="*" class="sm-display-inline light-gray-text-link text-very-small">All</a></li>
                            <%ks.forEach(function(item){%>
                            <li class="nav"><a href="javascript:void(0);" data-filter=".<%=item.id%>" class="sm-display-inline light-gray-text-link text-very-small"><%=item.kategori%></a></li>
                        <%})%>   
                        </ul>                                                                           
                        <!-- end filter navigation -->
                    </div>
                </div>
            </div>
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="filter-content overflow-hidden padding-15px-lr w-100">
                        <ul class="portfolio-grid work-4col gutter-small hover-option7">
                            <li class="grid-sizer"></li>
                            <!-- start portfolio item -->
                            <%sarana.forEach(function(item){%>
                            <li class="grid-item <%= item.id_kategori%> wow fadeInUp">
                                <a href="#">
                                    <figure>
                                        <div class="portfolio-img"><img src="<%= item.foto%>" alt=""/></div>
                                        <figcaption>
                                            <div class="portfolio-hover-main text-center last-paragraph-no-margin">
                                                <div class="portfolio-hover-box vertical-align-middle">
                                                    <div class="portfolio-hover-content position-relative">
                                                        <span class="font-weight-600 alt-font text-uppercase margin-one-bottom display-block text-extra-dark-gray">Sarana & Prasarana</span>
                                                        <p class="text-medium-gray text-uppercase text-extra-small"></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </a>
                            </li>
                        <%})%>
                       
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end masonry portfolio section -->
        <!-- start progress bar section -->
    
        <!-- end progress bar section -->
        <!-- start section -->
        <section id="prestasi" class="bg-light-gray wow fadeIn">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom text-center last-paragraph-no-margin md-margin-40px-bottom sm-margin-30px-bottom">
                      <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">Prestasi Sekolah</h5>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since.</p>
                  </div>  
              </div>
              <div class="row">
                  <div class="col-12 p-0 sm-padding-15px-lr">
                      <ul class="blog-grid blog-3col gutter-large blog-post-style5">
                          <li class="grid-sizer"></li>
                          <%prestasiSekolah.forEach(function(item){%>
                          <!-- start blog post item -->
                          <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                              <div class="blog-post bg-white">
                                  <div  class="blog-post-images overflow-hidden">
                                      <a href="/blog-detail/<%=item.id%>">
                                          <img  src="<%= item.foto%>" alt="">
                                      </a>
                                      <div class="blog-categories bg-white text-uppercase text-extra-small alt-font"><a href="/blog-detail/<%=item.id%>">Prestasi Sekolah</a></div>
                                  </div>
                                  <div class="post-details padding-40px-all md-padding-20px-all sm-padding-30px-tb">
                                      <div class="blog-hover-color"></div>
                                      <a href="blog-post-layout-01.html" class="alt-font post-title text-medium text-extra-dark-gray d-block lg-width-100 margin-5px-bottom"><%= item.title%>.</a>
                                      <div class="author">
                                          <span class="text-medium-gray text-uppercase text-extra-small d-inline-block">by <a href="/blog-detail/<%=item.id%>" class="text-medium-gray">Admin</a>&nbsp;&nbsp;|&nbsp;&nbsp;<%= item.date%></span>
                                      </div>
                                      <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                      <p><%- item.deskripsi.substring(0, 150)%></p>
                                  </div>
                              </div>
                          </li>
                       <% })%>
                          <!-- end blog post item -->
                          <!-- start blog post item -->
                        
                          <!-- end blog post item -->
                      </ul>
                  </div>
              </div>
              <div class="row">
                <div class="col-12 text-center btn-dual justify-content-center">
                    <!-- start buttons -->
                    <a class="btn btn-extra-large btn-black btn-rounded lg-margin-15px-bottom d-table d-lg-inline-block md-margin-lr-auto" href="/blog/1">Lihat Lebih Banyak</a>
                        
                </div>
            </div>
          </div>
      </section>
        <!-- end section -->
        <!-- start full width feature box section -->
       
        <!-- end full width feature box section -->
        <!-- start parallax section -->

        <!-- end parallax section -->
        <!-- start team section -->
        <section id="team" class="wow fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom text-center last-paragraph-no-margin md-margin-40px-bottom sm-margin-30px-bottom">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">Creative People</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since.</p>
                    </div>  
                </div>
                <div class="row">
                    <%dataTeam.forEach(function(item){%>
                    <div class="col-12 col-lg-3 col-md-6 team-block text-left team-style-2 md-margin-seven-bottom sm-margin-40px-bottom wow slideInUp">
                        <figure>
                            <div class="team-image sm-width-100">
                                <img src="<%= item.foto%>" alt="">
                                <div class="team-overlay bg-deep-pink"></div>
                                <div class="team-member-position text-center margin-25px-top">
                                    <div class="text-extra-dark-gray font-weight-600 text-uppercase text-small alt-font"><%= item.nama%></div>
                                    <div class="text-extra-small text-uppercase text-medium-gray"><%= item.posisi%></div>
                                </div>
                            </div>
                            <figcaption>
                                <div class="overlay-content text-center icon-social-small">
                                    <span class="text-small d-inline-block m-0">Periode : <%= item.periode%></span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb sm-margin-20px-tb"></div>
                                   </div>
                            </figcaption>
                        </figure>
                    </div>
               <% })%>
                    <!-- end team item -->
                    <!-- start team item -->
                  
                    <!-- end team item -->
                    <!-- start team item -->
                
                    <!-- end team item -->
                    <!-- start team item -->
                   
                    <!-- end team item -->
                </div>
            </div>
        </section>
        <!-- end team section -->
        <!-- start blog section -->
        <section id="berita" class="bg-light-gray wow fadeIn">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-6 col-md-8 margin-eight-bottom text-center last-paragraph-no-margin md-margin-40px-bottom sm-margin-30px-bottom">
                        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase margin-15px-bottom">Berita Sekolah</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since.</p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-12 p-0 sm-padding-15px-lr">
                        <ul class="blog-grid blog-3col gutter-large blog-post-style5">
                            <li class="grid-sizer"></li>
                            <%beritaSekolah.forEach(function(item){%>
                                <!-- start blog post item -->
                                <li class="grid-item wow fadeInUp last-paragraph-no-margin">
                                    <div class="blog-post bg-white">
                                        <div class="blog-post-images overflow-hidden">
                                            <a href="/blog-detail/<%=item.id%>">
                                                <img src="<%= item.foto%>" alt="">
                                            </a>
                                            <div class="blog-categories bg-white text-uppercase text-extra-small alt-font"><a href="/blog-detail/<%=item.id%>">Berita Sekolah</a></div>
                                        </div>
                                        <div class="post-details padding-40px-all md-padding-20px-all sm-padding-30px-tb">
                                            <div class="blog-hover-color"></div>
                                            <a href="/blog-detail/<%=item.id%>" class="alt-font post-title text-medium text-extra-dark-gray d-block lg-width-100 margin-5px-bottom"><%= item.title%>.</a>
                                            <div class="author">
                                                <span class="text-medium-gray text-uppercase text-extra-small d-inline-block">by <a href="/blog-detail/<%=item.id%>" class="text-medium-gray">Admin</a>&nbsp;&nbsp;|&nbsp;&nbsp;<%= item.date%></span>
                                            </div>
                                            <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                                            <p><%- item.deskripsi.substring(0, 100)%></p>
                                        </div>
                                    </div>
                                </li>
                             <% })%>
                            <!-- end blog post item -->
                            <!-- start blog post item -->
                          
                            <!-- end blog post item -->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center btn-dual justify-content-center">
                        <!-- start buttons -->
                        <a class="btn btn-extra-large btn-black btn-rounded lg-margin-15px-bottom d-table d-lg-inline-block md-margin-lr-auto" href="/blog/2">Lihat Lebih Banyak</a>
                            
                    </div>
                </div>
            </div>
        </section>
        <!-- end blog section -->
        <!-- start clients slider section  -->
        
        <!-- end clients slider section -->
        <!-- start review section -->
       
        <!-- end review section -->
        <!-- start contact section -->
       
        <!-- end contact section -->
        <!-- start features section -->
        <section id="contact" class="wow fadeIn border-bottom border-color-extra-light-gray">
            <div class="container">
                <div class="row">
                    <!-- start features box item -->
                    <div class="col-12 col-lg-3 col-md-6 text-center md-margin-50px-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin">
                        <i class="icon-map-pin icon-medium margin-25px-bottom sm-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Alamat Sekolah</div>
                        <p class="width-70 lg-width-85 md-width-50 sm-width-60 sm-margin-10px-bottom mx-auto">SMK WAHYU 1 MAKASSAR JL.ABDL. DG.SIRUA NO.346, PAROPO, Kec. Panakukkang, Kota Makassar Prov. Sulawesi Selatan.</p>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-lg-3 col-md-6 text-center md-margin-50px-bottom sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.2s">
                        <i class="icon-chat icon-medium margin-25px-bottom sm-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Hub</div>
                        <p class="width-70 lg-width-85 md-width-50 sm-width-60 sm-margin-10px-bottom mx-auto">Phone: 0411-442007</p>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-lg-3 col-md-6 text-center sm-margin-30px-bottom wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.4s">
                        <i class="icon-envelope icon-medium margin-25px-bottom sm-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">E-mail</div>
                        <p class="width-70 lg-width-85 md-width-50 sm-width-60 sm-margin-10px-bottom mx-auto"><a href="mailto:sekolahwahyumakassar@gmail.com">sekolahwahyumakassar@gmail.com</a></p>
                    </div>
                    <!-- end features box item -->
                    <!-- start features box item -->
                    <div class="col-12 col-lg-3 col-md-6 text-center wow fadeInUp last-paragraph-no-margin" data-wow-delay="0.6s">
                        <i class="icon-megaphone icon-medium margin-25px-bottom sm-margin-10px-bottom"></i>
                        <div class="text-extra-dark-gray text-uppercase text-small font-weight-600 alt-font margin-5px-bottom">Nomor sekolah</div>
                        <p class="width-70 lg-width-85 md-width-50 sm-width-60 sm-margin-10px-bottom mx-auto">40307394</p>
                    </div>
                    <!-- end features box item -->
                </div>
            </div>
        </section>
        <!-- end features section -->
        <!-- start footer --> 
        <footer class="footer-strip bg-light-gray padding-50px-tb sm-padding-30px-tb">
            <div class="container">
                <div class="row align-items-center">
                    <!-- start logo -->
                    <div class="col-md-3 text-center text-lg-left sm-margin-20px-bottom">
                        <a href="index-2.html"><img class="footer-logo" src="/admin/assets/images/background/wahyu.jpeg" data-rjs="/admin/assets/images/background/wahyu.jpeg" alt="Pofo"></a>
                    </div> 
                    <!-- end logo -->
                    <!-- start copyright -->
                    <div class="col-md-6 text-center text-small alt-font sm-margin-10px-bottom">
                        &copy; 2019 SMK WAHYU
                    </div>
                    <!-- end copyright -->
                    <!-- start social media -->
                    <div class="col-md-3 text-center text-lg-right">
                        <div class="social-icon-style-8 d-inline-block vertical-align-middle">
                            <ul class="small-icon mb-0">
                                <li><a class="facebook text-black" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a class="twitter text-black" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="google text-black" href="https://plus.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="dribbble text-black" href="https://dribbble.com/" target="_blank"><i class="fab fa-dribbble mr-0" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- end social media -->
                </div>
            </div>
        </footer>
        <!-- end footer -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="/index/js/jquery.js"></script>
        <script type="text/javascript" src="/index/js/modernizr.js"></script>
        <script type="text/javascript" src="/index/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/index/js/jquery.easing.1.3.js"></script>

        <script type="text/javascript" src="/index/js/smooth-scroll.js"></script>
        <script type="text/javascript" src="/index/js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="/index/js/bootsnav.js"></script>
        <script type="text/javascript" src="/index/js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="/index/js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="/index/js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="/index/js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="/index/js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="/index/js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="/index/js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="/index/js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="/index/js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="/index/js/classie.js"></script>
        <script type="text/javascript" src="/index/js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="/index/js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="/index/js/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="/index/js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="/index/js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="/index/js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="/index/js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="/index/js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="/index/js/main.js"></script>
    </body>

<!-- Mirrored from www.themezaa.com/html/pofo/home-classic-one-page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:07:42 GMT -->
</html>