<!doctype html>
<html class="no-js" lang="en">
    
<!-- Mirrored from www.themezaa.com/html/pofo/coming-soon-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:08:36 GMT -->
<head>
        <!-- title -->
        <title>SMK WAHYU</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="ThemeZaa">
        <!-- description -->
        <meta name="description" content="POFO is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose agency and portfolio HTML5 template with 25 ready home page demos.">
        <!-- keywords -->
        <meta name="keywords" content="creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, agency, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, personal, masonry, grid, coming soon, faq">
        <!-- favicon -->
        <link rel="shortcut icon" href="images/favicon.png">
        <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="/index/css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="/index/css/bootstrap.min.css" />
        <!-- et line icon --> 
        <link rel="stylesheet" href="/index/css/et-line-icons.css" />
        <!-- font-awesome icon -->
        <link rel="stylesheet" href="/index/css/font-awesome.min.css" />
        <!-- themify icon -->
        <link rel="stylesheet" href="/index/css/themify-icons.css">
        <!-- swiper carousel -->
        <link rel="stylesheet" href="/index/css/swiper.min.css">
        <!-- justified gallery  -->
        <link rel="stylesheet" href="/index/css/justified-gallery.min.css">
        <!-- magnific popup -->
        <link rel="stylesheet" href="/index/css/magnific-popup.css" />
        <!-- revolution slider -->
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/settings.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/layers.css">
        <link rel="stylesheet" type="text/css" href="/index/revolution/css/navigation.css">
        <!-- bootsnav -->
        <link rel="stylesheet" href="/index/css/bootsnav.css">
        <!-- style -->
        <link rel="stylesheet" href="/index/css/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="/index/css/responsive.css" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>   
        <!-- start countdown section -->
        <section class="p-0 full-screen cover-background" style="background: url('images/coming-soon-img2.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative full-screen">
                            <div class="slider-typography text-center sm-overflow-auto">
                                <div class="slider-text-middle-main padding-ten-tb">
                                    <div class="slider-text-middle bg-black-opacity sm-padding-15px-all">
                                        <div class="margin-eight-bottom sm-margin-30-bottom"><img  width="20%" src="/admin/assets/images/background/tut-wuri.png"  alt="" /></div>
                                        <h6 class="font-weight-300 text-white-2 margin-30px-bottom width-45 mx-auto md-width-60 sm-width-100"><%= result.title%></h6>
                                        <div data-enddate="<%= result.date%> 10:00:00" class="countdown text-center text-white-2 counter-box-5"></div>
                                        <div class="col-12 text-center social-icon-style-10 margin-six-top sm-margin-30px-top sm-no-padding">
                                            <ul class="large-icon mb-0">
                                                <li><a class="facebook text-white-2" href="http://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i><span></span></a></li>
                                                <li><a class="twitter text-white-2" href="http://twitter.com/" target="_blank"><i class="fab fa-twitter"></i><span></span></a></li>
                                                <li><a class="google text-white-2" href="http://google.com/" target="_blank"><i class="fab fa-google-plus-g"></i><span></span></a></li>
                                                <li><a class="dribbble text-white-2" href="http://google.com/" target="_blank"><i class="fab fa-dribbble"></i><span></span></a></li>
                                                <li><a class="linkedin text-white-2" href="http://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i><span></span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end countdown section -->
        <!-- start scroll to top -->
        <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
        <!-- end scroll to top  -->
        <!-- javascript libraries -->
        <script type="text/javascript" src="/index/js/jquery.js"></script>
        <script type="text/javascript" src="/index/js/modernizr.js"></script>
        <script type="text/javascript" src="/index/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/index/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/index/js/skrollr.min.js"></script>
        <script type="text/javascript" src="/index/js/smooth-scroll.js"></script>
        <script type="text/javascript" src="/index/js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="/index/js/bootsnav.js"></script>
        <script type="text/javascript" src="/index/js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="/index/js/wow.min.js"></script>
        <!-- page scroll -->
        <script type="text/javascript" src="/index/js/page-scroll.js"></script>
        <!-- swiper carousel -->
        <script type="text/javascript" src="/index/js/swiper.min.js"></script>
        <!-- counter -->
        <script type="text/javascript" src="/index/js/jquery.count-to.js"></script>
        <!-- parallax -->
        <script type="text/javascript" src="/index/js/jquery.stellar.js"></script>
        <!-- magnific popup -->
        <script type="text/javascript" src="/index/js/jquery.magnific-popup.min.js"></script>
        <!-- portfolio with shorting tab -->
        <script type="text/javascript" src="/index/js/isotope.pkgd.min.js"></script>
        <!-- images loaded -->
        <script type="text/javascript" src="/index/js/imagesloaded.pkgd.min.js"></script>
        <!-- pull menu -->
        <script type="text/javascript" src="/index/js/classie.js"></script>
        <script type="text/javascript" src="/index/js/hamburger-menu.js"></script>
        <!-- counter  -->
        <script type="text/javascript" src="/index/js/counter.js"></script>
        <!-- fit video  -->
        <script type="text/javascript" src="/index/js/jquery.fitvids.js"></script>
        <!-- skill bars  -->
        <script type="text/javascript" src="/index/js/skill.bars.jquery.js"></script> 
        <!-- justified gallery  -->
        <script type="text/javascript" src="/index/js/justified-gallery.min.js"></script>
        <!--pie chart-->
        <script type="text/javascript" src="/index/js/jquery.easypiechart.min.js"></script>
        <!-- instagram -->
        <script type="text/javascript" src="/index/js/instafeed.min.js"></script>
        <!-- retina -->
        <script type="text/javascript" src="/index/js/retina.min.js"></script>
        <!-- revolution -->
        <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.tools.min.js"></script>
        <script type="text/javascript" src="/index/revolution/js/jquery.themepunch.revolution.min.js"></script>
        <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
        <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
        <!-- setting -->
        <script type="text/javascript" src="/index/js/main.js"></script>
    </body>

<!-- Mirrored from www.themezaa.com/html/pofo/coming-soon-02.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 04 Jul 2019 14:08:36 GMT -->
</html>