
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Blank Page</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Blank Page</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                </div>
               
               


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Semester Ganjil</h4>
                                <h6 class="card-subtitle">Data table example</h6>
                                <div class="table-responsive m-t-40">
                                    <table id="config-table" class="table display table-bordered table-striped no-wrap">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nama Mapel</th>
                                                <th>Nama Guru</th>
                                                <th>Nilai Tugas</th>
                                                <th>Nilai UTS</th>
                                                <th>Nilai UAS</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% var no = 1;  semester1.forEach(function(item){ %>
                                                <tr>
                                                    <td><%= no++ %></td>
                                                    <td><%= item.nama_mapel%></td>
                                                    <td><%= item.nama%></td>
                                                    <td><%= item.n_tugas%></td>
                                                    <td><%= item.n_uts%></td>
                                                    <td><%= item.n_uas%></td>
                                                   
                                                </tr>
                                                
                                                
                                            <%})  %>
                                        </tbody>
                                           
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Semester Genap</h4>
                                    <h6 class="card-subtitle">Data table example</h6>
                                    <div class="table-responsive m-t-40">
                                        <table id="config-table2" class="table display table-bordered table-striped no-wrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Nama Mapel</th>
                                                    <th>Nama Guru</th>
                                                    <th>Nilai Tugas</th>
                                                    <th>Nilai UTS</th>
                                                    <th>Nilai UAS</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var no = 1;  semester2.forEach(function(item){ %>
                                                    <tr>
                                                        <td><%= no++ %></td>
                                                        <td><%= item.nama_mapel%></td>
                                                        <td><%= item.nama%></td>
                                                        <td><%= item.n_tugas%></td>
                                                        <td><%= item.n_uts%></td>
                                                        <td><%= item.n_uas%></td>
                                                       
                                                    </tr>
                                                    
                                                    
                                                <%})  %>
                                            </tbody>
                                               
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
 <script>
 $(function () {
 
 // responsive table
 $('#config-table').DataTable({
     responsive: true
 });
 $('#config-table2').DataTable({
     responsive: true
 });
 $('#example23').DataTable({
     dom: 'Bfrtip',
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
 });
 $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
 $('.del').click(function () {
            let data = $(this).attr('values')
            console.log(data);
            $('#delete').click(function () {
                $.ajax({
                type: "POST",
                url: "http://localhost:3000/users/del.kelas",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : data
                },
                success: function (result) {
                    if (result) {
                        $('#verticalcenter').fadeOut()
                        document.location.reload(true)
                      
                    } else {
                        alert('gagal')
                    }
                }
            })
                
            })

            $('#verticalcenter').fadeIn()
            $('.close').click(function () {
                $('#verticalcenter').fadeOut()
            })
            $('#close').click(function () {
                $('#verticalcenter').fadeOut()
            })
        })
 });
 
 </script>
<%+endSection%>
