<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from eliteadmin.themedesigner.in/demos/bt4/university/pages-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Aug 2019 07:25:31 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/assets/images/favicon.png">
    <title>Elite Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Custom CSS -->
    <link href="/admin/assets/node_modules/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/admin/dist/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="/admin/assets/node_modules/sweetalert/sweetalert.min.js"></script>
    <%+ yield('css')%>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="skin-blue fixed-layout">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elite admin</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index-2.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img width="20%"  src="/admin/assets/images/background/wahyu.jpeg" class="dark-logo">
                            <!-- Light/adminogo icon -->
                            <img width="30%" src="/admin/assets/images/background/wahyu.jpeg" class="light-logo">
                            <span class="hidden-xs"><span class="font-bold">SMK</span> Wahyu</span>
                        </b>
                        <!--End Logo icon -->
                       
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                        <li class="nav-item"> <a class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark" href="javascript:void(0)"><i class="icon-menu"></i></a> </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                      
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->

                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-pro"> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><img src="/admin/assets/images/background/wahyu.jpeg" alt="user-img" class="img-circle"><span class="hide-menu">User</span></a>

                        </li>
                       <%if(role == 1){%>
                        <li class="nav-small-cap">--- PERSONAL</li>
                        <li> <a class="waves-effect waves-dark" href="/users"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/users/change.password"><i class="icon-speedometer"></i><span class="hide-menu">Change Password</span></a>
                        </li>
                   
                        <li class="nav-small-cap">--- PROFESSIONAL</li>
                        <li> <a class="waves-effect waves-dark" href="/users/table-kurikulum"><i class="fa fa-bars"></i><span class="hide-menu">Kurikulum</span></a>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-chart"></i><span class="hide-menu">Tahun AJaran</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-ta">Database TA</a></li>
                                    <li><a href="/users/form-ta">Tambah TA </a></li>
                                   </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Ekskul</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-ekskul">Database Ekskul</a></li>
                                    <li><a href="/users/form-ekskul">Tambah Ekskul</a></li>
                                   </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-chart"></i><span class="hide-menu">Struktur Organisasi</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-struktur">Database Struktur</a></li>
                                    <li><a href="/users/form-struktur">Tambah Struktur</a></li>
                                   </ul>
                            </li>
                        
                       
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="icon-people"></i><span class="hide-menu">Guru</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/users/table-guru">Database Guru</a></li>
                                <li><a href="/users/form-guru">Tambah Guru</a></li>
                               </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-graduation-cap"></i><span class="hide-menu">Siswa</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/users/table-siswa">Database Siswa</a></li>
                                <li><a href="/users/table-siswa-tamat">Database Siswa Tamat</a></li>
                                <li><a href="/users/form-siswa">Tambah Siswa</a></li>
                                </ul>
                        </li>
                        
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Mata Pelajaran</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/users/table-mapel">Database Mapel</a></li> 
                                <li><a href="/users/form-mapel">Tambah Mapel</a></li>
                              </ul>
                        </li>
                       
                        <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-building"></i><span class="hide-menu">Kelas</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="/users/table-kelas">Database Kelas</a></li>
                                <li><a href="/users/table-kelas-siswa">Kelas Siswa</a></li>
                                <li><a href="/users/form-kelas">Tambah Kelas</a></li>
                            </ul>
                        </li>
                       
                        <li> <a class="waves-effect waves-dark" href="/users/table-pkl"><i class="ti-gallery"></i><span class="hide-menu">PKL</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/users/form-update-semester"><i class="ti-gallery"></i><span class="hide-menu">Semester</span></a>
                        </li>
                        <li class="nav-small-cap">--- LANDING PAGE</li>
                        <li> <a class="waves-effect waves-dark" href="/users/form-visimisi"><i class="ti-gallery"></i><span class="hide-menu">Visi & Misi</span></a>
                        <li> <a class="waves-effect waves-dark" href="/users/form-profil-sekolah"><i class="ti-gallery"></i><span class="hide-menu">Profil Sekolah</span></a>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Sarana & Prasarana</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-kategori-sarana">Database Sarana & Prasarana</a></li> 
                                    <li><a href="/users/form-kategori-sarana">Tambah Sarana & Prasarana</a></li>
                                  </ul>

                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Info Loker</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-info-loker">Database Info Loker</a></li> 
                                    <li><a href="/users/form-info-loker">Tambah Info Loker</a></li>
                                  </ul>
                            </li>

                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Info Beasiswa</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-info-beasiswa">Database Info Beasiswa</a></li> 
                                    <li><a href="/users/form-info-beasiswa">Tambah Info Beasiswa</a></li>
                                  </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Prestasi Sekolah</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-prestasi-sekolah">Database Prestasi Sekolah</a></li> 
                                    <li><a href="/users/form-prestasi-sekolah">Tambah Prestasi Sekolah</a></li>
                                  </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Berita Sekolah</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-berita-sekolah">Database Berita Sekolah</a></li> 
                                    <li><a href="/users/form-berita-sekolah">Tambah Berita Sekolah</a></li>
                                  </ul>
                            </li>
                            <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fa fa-book"></i><span class="hide-menu">Kalender Pendidikan</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a href="/users/table-kalender-pendidikan">Database Kalender Pendidikan</a></li> 
                                    <li><a href="/users/form-kalender-pendidikan">Tambah Kalender Pendidikan</a></li>
                                  </ul>
                            </li>
                            <li> <a class="waves-effect waves-dark" href="/users/user.logout"><i class="icon-logout"></i><span class="hide-menu">Logout</span></a>
                          
                        <%}else if(role == 3){%>
                            <li class="nav-small-cap">--- PERSONAL</li>
                            <li> <a class="waves-effect waves-dark" href="/guru"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a>
                            </li>
                            <li> <a class="waves-effect waves-dark" href="/guru/change.password"><i class="icon-speedometer"></i><span class="hide-menu">Change Password</span></a>
                            </li>
                      
                        <li class="nav-small-cap">--- PROFESSIONAL</li>
                        <li> <a class="waves-effect waves-dark" href="/guru/table-kelas-nilai"><i class="ti-gallery"></i><span class="hide-menu">Nilai Siswa</span></a>
                            <li> <a class="waves-effect waves-dark" href="/guru/table-kelas-kehadiran"><i class="ti-gallery"></i><span class="hide-menu">Kehadiran Siswa</span></a>
                                <li> <a class="waves-effect waves-dark" href="/guru/guru.logout"><i class="icon-logout"></i><span class="hide-menu">Logout</span></a>
                                <%}else if(role == 2){%>
                                    <li class="nav-small-cap">--- PERSONAL</li>
                                    <li> <a class="waves-effect waves-dark" href="/siswa"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a>
                                    </li>
                                    <li> <a class="waves-effect waves-dark" href="/siswa/change.password"><i class="icon-speedometer"></i><span class="hide-menu">Change Password</span></a>
                                    </li>
                            <li class="nav-small-cap">--- PROFESSIONAL</li>
                            <li> <a class="waves-effect waves-dark" href="/siswa/table-kelas-nilai"><i class="ti-gallery"></i><span class="hide-menu">Nilai Siswa</span></a>
                                <li> <a class="waves-effect waves-dark" href="/siswa/table-kelas-kehadiran"><i class="ti-gallery"></i><span class="hide-menu">Kehadiran Siswa</span></a>
                                    <li> <a class="waves-effect waves-dark" href="/siswa/table-nilai-pkl"><i class="ti-gallery"></i><span class="hide-menu">Nilai PKL</span></a>
                                    <li> <a class="waves-effect waves-dark" href="/siswa/siswa.logout"><i class="icon-logout"></i><span class="hide-menu">Logout</span></a>
                       <%}else if(role == 4){%>
                        <li class="nav-small-cap">--- PERSONAL</li>
                        <li> <a class="waves-effect waves-dark" href="/ortu"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="/ortu/change.password"><i class="icon-speedometer"></i><span class="hide-menu">Change Password</span></a>
                        </li>
                       <li class="nav-small-cap">--- PROFESSIONAL</li>
                       <li> <a class="waves-effect waves-dark" href="/ortu/table-kelas-nilai"><i class="ti-gallery"></i><span class="hide-menu">Nilai Siswa</span></a>
                           <li> <a class="waves-effect waves-dark" href="/ortu/table-kelas-kehadiran"><i class="ti-gallery"></i><span class="hide-menu">Kehadiran Siswa</span></a>
                            <li> <a class="waves-effect waves-dark" href="/ortu/info-beasiswa"><i class="ti-gallery"></i><span class="hide-menu">Info Beasiswa</span></a>
                                <li> <a class="waves-effect waves-dark" href="/ortu/info-loker"><i class="ti-gallery"></i><span class="hide-menu">Info Loker</span></a>
                                    <li> <a class="waves-effect waves-dark" href="/ortu/ortu.logout"><i class="icon-logout"></i><span class="hide-menu">Logout</span></a>
                       <%}%>
                        
                   </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">



                <%+ yield('content')%>




                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Page wrapper  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer">
                © 2019 Eliteadmin by themedesigner.in
                </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Wrapper -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- All Jquery -->
                <!-- ============================================================== -->
                <script src="/admin/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
                <!-- Bootstrap tether Core JavaScript -->
                <script src="/admin/assets/node_modules/popper/popper.min.js"></script>
                <script src="/admin/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
                <!-- slimscrollbar scrollbar JavaScript -->
                <script src="/admin/dist/js/perfect-scrollbar.jquery.min.js"></script>
                <!--Wave Effects -->
                <script src="/admin/dist/js/waves.js"></script>
                <!--Menu sidebar -->
                <script src="/admin/dist/js/sidebarmenu.js"></script>
                <!--Custom JavaScript -->
                <script src="/admin/dist/js/custom.min.js"></script>
               <%+ yield('js')%>
                </body>
                
                
                <!-- Mirrored from eliteadmin.themedesigner.in/demos/bt4/university/pages-blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 03 Aug 2019 07:25:31 GMT -->
                </html>