
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Blank Page</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Blank Page</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                </div>
               
               
                <div class="row">
                    <!-- Column -->
                    <%result.forEach(function(item){%>
                    <div class="col-lg-4">
                        <div class="card">
                            <img class="card-img-top img-responsive" src="<%= item.foto%>" alt="Card image cap">
                            <div class="card-body">
                                <ul class="list-inline font-14">
                                        <li class="p-l-0">Admin</li>
                                    <li class="p-l-0"><%= item.date%></li>
                                    
                                </ul>
                                <h3 class="font-normal"><%= item.title%></h3>
                                <p class="m-b-0 m-t-10"><%- item.deskripsi.substring(0,100)%></p>
                                <a href="/ortu/info-detail-beasiswa/<%= item.id%>" class="btn btn-success btn-rounded waves-effect waves-light m-t-20">Read more</a>
                            </div>
                        </div>
                    </div>
                    <%})%>
                    <!-- Column -->
                    <!-- Column -->
                
                    <!-- Column -->
                    <!-- Column -->
                 
                    <!-- Column -->
                </div>

              
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
 <script>
 $(function () {
 
 // responsive table
 $('#config-table').DataTable({
     responsive: true
 });
 $('#example23').DataTable({
     dom: 'Bfrtip',
     buttons: [
         'copy', 'csv', 'excel', 'pdf', 'print'
     ]
 });
 $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
 $('.del').click(function () {
            let data = $(this).attr('values')
            console.log(data);
            $('#delete').click(function () {
                $.ajax({
                type: "POST",
                url: "http://localhost:3000/users/del.kelas",
                contentType: "application/x-www-form-urlencoded",
                data: {
                    id : data
                },
                success: function (result) {
                    if (result) {
                        $('#verticalcenter').fadeOut()
                        document.location.reload(true)
                      
                    } else {
                        alert('gagal')
                    }
                }
            })
                
            })

            $('#verticalcenter').fadeIn()
            $('.close').click(function () {
                $('#verticalcenter').fadeOut()
            })
            $('#close').click(function () {
                $('#verticalcenter').fadeOut()
            })
        })
 });
 
 </script>
<%+endSection%>
