
<%+ extend('layout/layout') %>
<%+ section('css')%>
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet" type="text/css"
    href="/admin/assets/node_modules/datatables.net-bs4/css/responsive.dataTables.min.css">
<%+endSection%>
               <%+section('content')%>
               <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Blank Page</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active">Blank Page</li>
                            </ol>
                            <button type="button" class="btn btn-info d-none d-lg-block m-l-15"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                </div>
               
               
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-8">
                        <div class="card">
                            <img  class="card-img-top img-responsive" src="<%= data.foto%>" alt="Card image cap">
                            <div class="card-body">
                                    <ul class="list-inline font-14">
                                            <li class="p-l-0">Admin</li>
                                        <li class="p-l-0"><%= data.date%></li>
                                        
                                    </ul>
                                    <h3 class="font-normal"><%= data.title%></h3>
                                    <p class="m-b-0 m-t-10"><%- data.deskripsi%></p>
                                </div>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                   
                    <!-- Column -->
                    <!-- Column -->
                   
                    <!-- Column -->
                </div>

              
            <%+endSection%>

<%+ section('js')%>
<script src="/admin/assets/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
 <script src="/admin/assets/node_modules/datatables.net-bs4/js/dataTables.responsive.min.js"></script>

<%+endSection%>
